@import url(./normalize.css);
.wripper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden; }

.maincontent {
  height: 100%;
  min-height: 650px; }

.conteiner {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.section {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.31);
  min-width: 940px;
  min-height: 650px; }

.header__btn__order-link {
  min-width: 6.125rem;
  padding: 10px 17px;
  border-radius: 5px;
  background-color: #e25028;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .header__btn__order-link:hover {
    background-color: #cb411b; }

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 20%;
  left: 95%;
  cursor: pointer; }

.nav__item {
  width: 17px;
  height: 17px;
  margin-top: 17px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: #fff; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  line-height: 1.42;
  color: #2f3234;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  height: 100%; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/Gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/Gagalin/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/Ubuntu/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-b-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/Ubuntu/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/Ubuntu/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-medium-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/Ubuntu/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/Ubuntu/ubuntu-regular-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

.hero {
  background-image: url("../img/bg/hero_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  position: relative; }

.header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 10px; }

.header__logo {
  margin-right: auto; }

.header__menu {
  margin-right: 0.9375rem; }

.header__menu__list {
  margin: 0;
  padding: 0; }

.header__menu__list__item {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap; }
  .header__menu__list__item:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #fff;
    margin: 0 12px; }
  .header__menu__list__item:last-child:after {
    display: none; }

.header__menu__list__item__link {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.42;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .header__menu__list__item__link:hover {
    text-decoration: underline; }

.hero__container {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.hero__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding-bottom: 15%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -420px; }

.hero__content__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0.9375rem; }

.hero__content__description__title {
  color: #f9b43b;
  font-family: 'gagalinregular';
  font-size: 72px;
  line-height: 1.42;
  margin: 0;
  padding-top: 60px; }

.hero__content__description__text {
  color: #ffffff;
  font-family: 'lifehackmedium';
  font-size: 65px;
  line-height: 1;
  width: 460px; }

.hero__triangle {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 90%;
  cursor: pointer; }

.best {
  height: 100vh;
  background-image: url("../img/bg/best-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .best__title {
    font-size: 72px;
    line-height: 64px;
    font-family: 'gagalin';
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    color: #2f3234; }
  .best__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 90px; }
    .best__content__item {
      width: 18.75rem;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-left: 40px; }
      .best__content__item__img {
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        margin-bottom: 29px; }
      .best__content__item__img--meat {
        width: 97px;
        height: 89px;
        background: url("../img/content/meat.png") center center no-repeat; }
      .best__content__item__img--hand {
        width: 73px;
        height: 85px;
        background: url("../img/content/hand.png") center center no-repeat; }
      .best__content__item__img--natural {
        width: 88px;
        height: 75px;
        background: url("../img/content/natural.png") center center no-repeat; }
      .best__content__item span {
        font-family: "lifehackmedium";
        font-size: 24.1px;
        text-align: center; }
      .best__content__item p {
        font-family: "ubuntulight";
        font-weight: 300;
        font-size: 14px;
        text-align: center; }

.comments__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  color: wheat; }

.comments__content__item {
  width: 25%;
  height: 50%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: relative; }
  .comments__content__item:hover .comments__content__item__info {
    opacity: 1; }

.comments__content__item__info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(69, 69, 69, 0.7);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.comments__content__item__info__name {
  font-size: 14px;
  line-height: 28.11px;
  font-family: 'gagalin';
  text-transform: uppercase;
  margin: 50px 0 20px 20px; }

.comments__content__item__info__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 30px 20px 20px; }

.comments__content__item__info__btn-more {
  width: 110px;
  height: 35px;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 35px;
  border-radius: 4px;
  background-color: #2f3234;
  margin-left: 20px;
  text-align: center;
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */