.best {
    height: 100vh;
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__best__title{
    font-size: 72px;
    line-height: 64px;
    font-family: 'gagalin';
    padding-top: 80px;
    margin: 0 auto;
    text-align: center;
    color: #2f3234;
}

.best__content{
    display: flex;
    flex-direction: row;
    margin-top: 90px;
}

.best__content__item{
    width: rem(300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 40px;
}

.best__content__item__img{
    align-self: center;
    margin-bottom: 29px;
}

.best__content__item__title{   
    font-family: "lifehackmedium";
    font-size: 24.1px;
    text-align: center;
}

.best__content__item__text{
    font-family: "ubuntulight";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.best__content__item__img--meat{
    width: 97px;
    height: 89px;
    background: url("../img/content/meat.png") center center no-repeat;
}

.best__content__item__img--hand{
    width: 73px;
    height: 85px;
    background: url("../img/content/hand.png") center center no-repeat;
}

.best__content__item__img--natural{
    width: 88px;
    height: 75px;
    background: url("../img/content/natural.png") center center no-repeat;
}