.best {
    height: 100vh;
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .best__title{
        font-size: rem(72px);
        line-height: rem(64px);
        font-family: 'gagalin';
        padding-top: rem(80px);
        margin: 0 auto;
        text-align: center;
        color: #2f3234;
    }

    .best__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: rem(90px);

        @include phones{
            flex-direction: column;
        }

        .best__item{
            width: rem(300px);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            margin-left: rem(40px);

            @include phones{
                flex-direction: row;
                width: 100%;
            }

            .best__img{
                align-self: center;
                margin-bottom: rem(29px);
                width: rem(120px);
                height: rem(120px);
            }

            .best__item-content{
                display: flex;
                flex-direction: column;

                @include phones{
                    align-items: flex-start;
                    width: 80%;
                    margin-left: rem(30px);
                }
            }

            .best__img-meat{
                background: url("../img/content/meat.png") center center no-repeat;
            }

            .best__img-hand{
              
                background: url("../img/content/hand.png") center center no-repeat;
            }

            .best__img-natural{
                background: url("../img/content/natural.png") center center no-repeat;
            }

            span{
                font-family: "lifehackmedium";
                font-size: rem(24.1px);
                text-align: center;
            }

            p{
                font-family: "ubuntulight";
                font-weight: 300;
                font-size: rem(14px);
                text-align: center;

                @include phones{
                    text-align: left;
                }
            }
        }
    }
}