.best {
    background-image: url('../img/bg/best-bg.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    // width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section__title--best {
    color: #2f3234;
    padding: 0;
    margin-bottom: rem(60px);
    margin-top: rem(80px);
}

.best__content{
    //   width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.best__content__item{
    width: rem(300px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.best__content__item__img{
    align-self: center;
    margin-bottom: 29px;
}

.best__content__item__title{   
    font-family: "lifehackmedium";
    font-size: 24.1px;
    text-align: center;
}

.best__content__item__text{
    font-family: "ubuntulight";
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}

.best__content__item__img--meat{
    width: 97px;
    height: 89px;
    background: url("../img/content/meat.png") center center no-repeat;
}

.best__content__item__img--hand{
    width: 73px;
    height: 85px;
    background: url("../img/content/hand.png") center center no-repeat;
}

.best__content__item__img--natural{
    width: 88px;
    height: 75px;
    background: url("../img/content/natural.png") center center no-repeat;
}

.best__content__item__title--meat{
    margin-bottom: rem(12px);
}
.best__content__item__title--hand{
    margin-bottom: rem(15px);
}

.best__content__item__title--natural{
    margin-bottom: rem(10px);
}