.comments__content{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.comments__content__item{
    width: 25%;
    height: 50%;
}

.comments__content__item__img{
    width: 100%;
    height: 100%;
}