.comments__conteiner{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    color: wheat;
    width: 100%;
}

.comments__item{
    width: 25%;
    height: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    position: relative;

    &:hover{
        .comments__info{
            opacity: 1;
        }
    }

    @include tablets{
        width: 50%;
        height: 25%;
    }
}

.comments__info{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba($color: #454545, $alpha: 0.7);
    opacity: 0;
    transition: opacity 0.3s;

    @include tablets{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

.comments__info-name{
    font-size: rem(14px);
    line-height: rem(28.11px);
    font-family: 'gagalin';
    text-transform: uppercase;
    margin: rem(50px) 0 rem(20px) rem(20px);

    @include phones{
        font-size: rem(24px);
        margin: rem(80px) 0 rem(20px) rem(20px);
    }
}

.comments__info-text{
    display: flex;
    font-size: rem(14px);
    font-weight: 300;
    line-height: rem(24px);
    margin: 0 rem(30px) rem(20px) rem(20px);

    @include phones{
        display: none;
    }
}

.comments__info-btn-more{
    display: flex;
    width: rem(110px);
    height: rem(35px);
    font-size: rem(13px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: rem(35px);
    border-radius: rem(4px);
    background-color: #2f3234;
    margin-left: rem(20px);
    justify-content: center;
    cursor: pointer;

    @include phones{
        display: none;
    }
}

.comments__info__btn-order{
    width: rem(150px);
    height: rem(35px);
    font-size: rem(13px);
    font-weight: 700;
    text-transform: uppercase;
    line-height: rem(35px);
    border-radius: rem(4px);
    background-color: #2f3234;
    margin-left: rem(20px);
    cursor: pointer;
    display: none;

    @include phones{
        display: flex;
        justify-content: center;
    }
}