.hero{
    background-image: url("../img/bg/hero_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    position: relative;

    .header{
        // width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: rem(10px);

        .header__logo{
            margin-right: auto;
        }

        .header-nav{
            margin-right: rem(15px);
            display: flex;

            @include tablets{
                display: none;
            }

            .header-nav__list{
                margin: 0;
                padding: 0;

                .header-nav__item{
                    display: inline-block;
                    vertical-align: middle;
                    white-space: nowrap;
                    &:after{
                        display: inline-block;
                        vertical-align: middle;
                        content: " ";
                        @include circle(rem(5px), #fff);
                        margin: 0 rem(12px);
                    }
                    &:last-child:after {
                        display: none;
                    }

                    .header-nav__link{
                        color: #ffffff;
                        font-size: rem(13px);
                        font-weight: 500;
                        line-height: 1.42;
                        text-transform: uppercase;
                        text-decoration: none;
                        display: inline-block;
                        vertical-align: middle;
                        transition: .5s;
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .header__btn-order-link{
            min-width: rem(98px);
            padding: rem(10px) rem(17px);
            border-radius: rem(5px);
            background-color: $orange;
            color: #fff;
            text-decoration: none;
            font-size: rem(13px);
            font-weight: 500;
            line-height: 1.42;
            text-transform: uppercase;
            transition: 0.5s;
            margin-right: rem(30px);
            &:hover{
                background-color: darken($orange, 7%);
            }
        }

        .header-nav__ham{
            width: rem(25px);
            height: rem(30px);
            display: none;
            flex-direction: column;
            justify-content: flex-start;
            margin-right: 3%;

            @include tablets{
                display: flex;
            }
        }

        .header-nav__ham-line-1,
        .header-nav__ham-line-2,
        .header-nav__ham-line-3{
            width: rem(25px);
            height: rem(6px);
            border-radius: rem(2px);
            background-color: #fff;
            cursor: pointer;
            margin-bottom: rem(5px);
        }
    }

    .hero__content {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        align-items: center;
        padding-bottom: 15%;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: rem(-230px);
        margin-left: rem(-420px);

        @include tablets{
            flex-direction: column;
            width: 100%;
            text-align: center;
            margin-top: rem(-430px);
            margin-left: rem(-520px);
        }
        @include phones{
            padding: 0;
            margin-top: rem(-430px);
            margin-left: rem(-820px);
        }

        .hero__description {
            flex-direction: column;
            justify-content: center;
            margin-left: rem(15px);

            .hero__title {
                color: #f9b43b;
                font-family: 'gagalinregular';
                font-size: rem(72px);
                line-height: 1.42;
                margin: 0;
                padding-top: rem(60px);
                
                @include tablets{
                    padding: 0;
                }
            }

            .hero__text {
                color: #ffffff;
                font-family: 'lifehackmedium';
                font-size: rem(65px);
                line-height: 1;
                width: rem(460px);
            }
        }
    }

    .hero__triangle{
        width: rem(20px);
        height: rem(20px);
        transform: rotate(45deg);
        border-bottom: rem(2px) solid white;
        border-right: rem(2px) solid white;
        border-bottom-right-radius: rem(5px);
        position: absolute;
        top: 90%;
        left: 50%;
        cursor: pointer;
    }
}


.hero__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

