.map{
    height: 100vh;
    background-image: url('../img/bg/map-bg.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
    position: relative;
    display: flex;
}